.products-list{
  max-width: 700px;
  margin: 20px  auto 0;
  padding: 0 20px;
}

.products-list article{
  background: #f4f4f4;
  border: 1px solid #dfdce3;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.products-list article p{
  font-size: 16px;
  color: #373737;
  margin-top: 5px;
  line-height: 24px;
}

.products-list article a{
  height: 42px;
  border-radius: 5px;
  border: 2px solid #fc4a1a;
  background: none;
  margin-top: 10px;
  color: #fc4a1a;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.products-list article a:hover{
  background: #fc4a1a;
  color: #f4f4f4;
}
.products-list .actions{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.products-list .actions button{
  padding: 10px;
  border-radius: 5px;
  border: 0;
  background: #fc4a1a;
  color: #f4f4f4;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;

}

.products-list .actions button:hover{
  opacity: 0.7;
}


.products-list .actions button[disabled]{
  opacity: 0.5;
  cursor: default;
}

.products-list .actions button[disabled]:hover{
  opacity: 0.5;
}